<div class="flex items-center justify-center min-h-full px-6">
  <div class="max-w-[846px] w-full">
    <h1 class="text-[40px] font-bold tracking-tight text-gray-900 mb-4">Complete your onboarding</h1>

    <p class="text-[28px] leading-10 font-semibold text-[#4C5A6B] mb-10">
      Completing this process allows you to publish your offerings on the DOME Marketplace.
    </p>

    <button
      type="button"
      class="px-5 py-3 text-sm font-medium text-white rounded-md bg-primary-100 hover:bg-primary-50 transition-colors cursor-pointer"
      (click)="next.emit()">
      Start now
    </button>
  </div>
</div>
