:host {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.watermark-logo {
  background-color: #DDE6F6;
  -webkit-mask-image: url('/assets/themes/dome/dome_logo_watermark.png');
  mask-image: url('/assets/themes/dome/dome_logo_watermark.png');
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
