{{define "content"}}
<section class="onboarding-form" x-data="onboarding()" x-cloak>

    <h2 class="form-title" x-text="titles[step]"></h2>

    <!-- Error/Success Messages -->
    <div x-show="message" :class="messageType === 'error' ? 'w3-panel w3-red' : 'w3-panel w3-green'">
        <p x-text="message"></p>
    </div>

    <!-- Step 1: Email Input -->
    <div x-show="step === 'email'">
        <p>Please enter your email to receive a verification code.</p>
        <form @submit.prevent="sendCode">
            <div class="w3-row">
                <div class="w3-third">
                    {{template "input-component" dict "Label" "Email (*)" "Name" "email" "Model" "email" "Type" "email"}}
                </div>
            </div>
            <button type="submit" :disabled="loading"
                class="w3-btn dome-bgcolor w3-round-large w3-margin-right blinker-semibold">
                <span x-show="loading">Sending...</span>
                <span x-show="!loading">Send</span>
            </button>
        </form>
    </div>

    <!-- Step 2: Verification Code -->
    <div x-show="step === 'code'">
        <p>A code has been sent to <b x-text="email"></b>.</p>
        <div class="w3-panel w3-yellow">
            <p><strong>Note:</strong> For testing, we show here the code: <strong><span
                        x-text="codeValue"></span></strong></p>
        </div>

        <form @submit.prevent="verifyCode">
            <div class="w3-row">
                <div class="w3-third">
                    {{template "input-component" dict "Label" "Verification Code (*)" "Name" "code" "Model" "code" "Type" "text"}}
                </div>
            </div>
            <button type="submit" :disabled="loading"
                class="w3-btn dome-bgcolor w3-round-large w3-margin-right blinker-semibold">
                <span x-show="loading">Verifying...</span>
                <span x-show="!loading">Verify Code</span>
            </button>
        </form>
    </div>

    <!-- Step 3: Registration Data -->
    <div x-show="step === 'register'">
        <form @submit.prevent="register">

            <div class="w3-row-padding" style="padding-left:0px">
                <div class="w3-third" style="padding-left:0px">
                    <!-- Email is now read-only -->
                    <div class="form-group w3-margin-bottom">
                        <label class="form-label">Email</label>
                        <input type="email" class="w3-input w3-border" :value="email" disabled>
                    </div>

                </div>

                <div class="w3-third">
                    {{template "input-component" dict "Label" "First Name (*)" "Name" "firstName" "Model" "formData.firstName" "Type" "text"}}
                </div>

                <div class="w3-third">
                    {{template "input-component" dict "Label" "Last Name (*)" "Name" "lastName" "Model" "formData.lastName" "Type" "text"}}
                </div>

            </div>

            <div class="w3-row-padding" style="padding-left:0px">
                <div class="w3-third" style="padding-left:0px">
                    {{template "input-component" dict "Label" "Company Name (*)" "Name" "companyName" "Model" "formData.companyName" "Type" "text"}}
                </div>
                <div class="w3-third">
                    {{template "country-select" dict "Label" "Country of Incorporation (*)" "Name" "country" "Model" "formData.country" "Countries" .Countries}}
                </div>
                <div class="w3-third">
                    {{template "input-component" dict "Label" "VAT ID (*)" "Name" "vatId" "Model" "formData.vatId" "Type" "text"}}
                </div>
            </div>

            <div class="w3-row-padding" style="padding-left:0px">
                <div class="w3-twothird" style="padding-left:0px">
                    {{template "input-component" dict "Label" "Street Address (*)" "Name" "streetAddress" "Model" "formData.streetAddress" "Type" "text"}}
                </div>
                <div class="w3-third">
                    {{template "input-component" dict "Label" "Postal Code (*)" "Name" "postalCode" "Model" "formData.postalCode" "Type" "text"}}
                </div>
            </div>

            <!-- Honeypot -->
            <input type="text" name="website" x-model="formData.website" style="display:none" tabindex="-1"
                autocomplete="off">

            <p class=""><span class=""><b>Information about the processing of personal data is as follows:</b> <a
                        target="_blank" href="https://dome-project.eu/about/#partners">Data Controller DOME
                        Marketplace</a>.
                    Purpose: to send you information about DOME's project by electronic means. Legal basis: data
                    subject's consent.
                    Recipients: The personal data collected will not be communicated to third parties, unless requested
                    by public administrations or if required by law. Exercise of Rights: sending an email to <a
                        href="mailto:privacy.helpdesk@dome-project.eu">privacy.helpdesk@dome-project.eu</a>,
                    indicating in the subject line: 'Exercise of rights'. You are also entitled to be assisted by a Data
                    Protection Authority. Find more information about personal data processing in <a target="_blank"
                        href="https://dome-marketplace-sbx.org/assets/documents/privacy.pdf">our Privacy Policy
                        here</a>. </span></p>

            <button type="submit" :disabled="loading"
                class="w3-btn dome-bgcolor w3-round-large w3-margin-right blinker-semibold">
                <span x-show="loading">Registering...</span>
                <span x-show="!loading">Complete Registration</span>
            </button>
        </form>
    </div>


    <!-- Step 4: Welcome to the user -->
    <div x-show="step === 'welcome'">
        <form @submit.prevent="welcome">

            <div class="w3-row-padding" style="padding-left:0px">
                <div class="w3-third" style="padding-left:0px">
                    <!-- Email is now read-only -->
                    <div class="form-group w3-margin-bottom">
                        <label class="form-label">Email</label>
                        <input type="email" class="w3-input w3-border" :value="email" disabled>
                    </div>

                </div>

                <div class="w3-third">
                    <div class="form-group w3-margin-bottom">
                        <label class="form-label">First Name (*)</label>
                        <input type="text" name="firstName" :value="formData.firstName" class="w3-input w3-border"
                            disabled>
                    </div>
                </div>

                <div class="w3-third">
                    <div class="form-group w3-margin-bottom">
                        <label class="form-label">Last Name (*)</label>
                        <input type="text" name="lastName" :value="formData.lastName" class="w3-input w3-border"
                            disabled>
                    </div>
                </div>

            </div>

            <div class="w3-row-padding" style="padding-left:0px">
                <div class="w3-third" style="padding-left:0px">
                    <div class="form-group w3-margin-bottom">
                        <label class="form-label">Company Name (*)</label>
                        <input type="text" name="companyName" :value="formData.companyName" class="w3-input w3-border"
                            disabled>
                    </div>
                </div>
                <div class="w3-third">
                    <div class="form-group w3-margin-bottom">
                        <label class="form-label">Country of Incorporation (*)</label>
                        <input type="text" name="country" :value="formData.country" class="w3-input w3-border" disabled>
                    </div>
                </div>
                <div class="w3-third">
                    <div class="form-group w3-margin-bottom">
                        <label class="form-label">VAT ID (*)</label>
                        <input type="text" name="vatId" :value="formData.vatId" class="w3-input w3-border" disabled>
                    </div>
                </div>
            </div>

            <div class="w3-row-padding" style="padding-left:0px">
                <div class="w3-twothird" style="padding-left:0px">
                    <div class="form-group w3-margin-bottom">
                        <label class="form-label">Street Address (*)</label>
                        <input type="text" name="streetAddress" :value="formData.streetAddress"
                            class="w3-input w3-border" disabled>
                    </div>
                </div>
                <div class="w3-third">
                    <div class="form-group w3-margin-bottom">
                        <label class="form-label">Postal Code (*)</label>
                        <input type="text" name="postalCode" :value="formData.postalCode" class="w3-input w3-border"
                            disabled>
                    </div>
                </div>
            </div>

            <!-- Honeypot -->
            <input type="text" name="website" x-model="formData.website" style="display:none" tabindex="-1"
                autocomplete="off">

            <button type="submit" :disabled="loading"
                class="w3-btn dome-bgcolor w3-round-large w3-margin-right blinker-semibold">
                <span x-show="loading">Registering...</span>
                <span x-show="!loading">Go to DOME Marketplace</span>
            </button>
        </form>
    </div>


</section>

<script>
    function onboarding() {
        return {
            step: 'email',
            email: '',
            code: '',
            formData: {
                firstName: '',
                lastName: '',
                companyName: '',
                country: '',
                vatId: '',
                streetAddress: '',
                postalCode: '',
                website: '' // Honeypot
            },
            loading: false,
            message: '',
            messageType: '',
            codeValue: '',
            titles: {
                'email': 'Register in DOME Marketplace',
                'code': 'Verify Your Email',
                'register': 'Please fill this form to register',
                'welcome': 'Welcome to DOME Marketplace'
            },

            async callApi(endpoint, body) {
                this.loading = true;
                this.message = '';
                try {
                    const res = await fetch(this.API_url() + endpoint, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest' // CSRF protection
                        },
                        body: JSON.stringify(body)
                    });
                    const data = await res.json();
                    if (!data.success) {
                        throw new Error(data.message || 'Unknown error');
                    }
                    return data;
                } catch (err) {
                    this.message = err.message;
                    this.messageType = 'error';
                    return null;
                } finally {
                    this.loading = false;
                }
            },

            async sendCode() {
                const data = await this.callApi('/api/validate-email', { email: this.email });
                if (data) {
                    // Just for testing
                    this.codeValue = data.data.code;
                    this.step = 'code';
                }
            },

            async verifyCode() {
                const data = await this.callApi('/api/verify-code', { email: this.email, code: this.code });
                if (data) {
                    this.step = 'register';
                    this.message = '';
                }
            },

            async register() {
                // Include email and the verification code in the registration data
                const body = {
                    ...this.formData,
                    email: this.email,
                    code: this.code
                };
                const data = await this.callApi('/api/register', body);
                if (data) {
                    this.message = 'Registration successful! Your registration is being processed.';
                    this.messageType = 'success';
                    this.step = 'welcome';
                    // Reset or redirect could happen here
                }
            },

            async welcome() {
                if (window.location.hostname.includes('onboard.sbx.evidenceledger.eu')) {
                    window.location.href = 'https://dome-marketplace-sbx.org';
                    return;
                }
                return;
            },

            frontURLs: {
                pro: 'dome-marketplace.github.io/onboarding',
                pre: 'dome-marketplace.github.io/onboarding-pre'
            },

            API_url() {
                if (window.location.hostname.includes(this.frontURLs.pro)) {
                    return 'https://onboarddome.evidenceledger.eu';
                }
                if (window.location.hostname.includes(this.frontURLs.pre)) {
                    return 'https://onboarddev.dome.mycredential.eu';
                }
                return window.location.origin;
            }
        }
    }
</script>
{{end}}

{{define "input-component"}}
<div class="form-group w3-margin-bottom">
    <label class="form-label">{{.Label}}</label>
    <input type="{{.Type}}" name="{{.Name}}" x-model="{{.Model}}" class="w3-input w3-border" required>
</div>
{{end}}

{{define "country-select"}}
<div class="form-group w3-margin-bottom">
    <label class="form-label">{{.Label}}</label>
    <select name="{{.Name}}" x-model="{{.Model}}" class="w3-select w3-border" required>
        <option value="" disabled selected>Select a country</option>
        {{range .Countries}}
        <option value="{{.Code}}">{{.Name}}</option>
        {{end}}
    </select>
</div>
{{end}}