{{ define "header"}}
<div class="dome-header">
    <div class="dome-content">
        <div class="w3-bar">
            <div class="w3-bar-item padding-right-0">
                <a href="#">
                    <img src="assets/logos/DOME_Icon_White.svg" alt="DOME Icon" style="width:100%;max-height:32px">
                </a>
            </div>
            <div class="w3-bar-item">
                <span class="blinker-semibold w3-xlarge nowrap">DOME Marketplace</span>
            </div>
        </div>
    </div>
</div>
{{end}}