{{ define "newform"}}
<form _ngcontent-ng-c2521489825="" novalidate=""
    class="relative -top-20 items-center mx-auto max-w-screen-xl w-full bg-secondary-50 dark:bg-secondary-100 rounded-lg shadow-lg p-8 ng-untouched ng-pristine ng-invalid">
    <h2 _ngcontent-ng-c2521489825="" class="text-left text-2xl mb-2 font-bold dark:text-white">Please fill in this form
        to contact us</h2>
    <div _ngcontent-ng-c2521489825="" class="grid grid-cols-3 gap-4">
        <div _ngcontent-ng-c2521489825=""><label _ngcontent-ng-c2521489825="" for="email"
                class="font-bold text-lg dark:text-white">Email (*)</label><input _ngcontent-ng-c2521489825=""
                formcontrolname="email" type="text" id="email"
                class="mb-2 bg-gray-50 dark:bg-secondary-300 border dark:text-white text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border-gray-300 dark:border-secondary-200 ng-untouched ng-pristine ng-invalid"><!----><!----><!---->
        </div>
        <div _ngcontent-ng-c2521489825=""><label _ngcontent-ng-c2521489825="" for="name"
                class="font-bold text-lg dark:text-white">First name (*)</label><input _ngcontent-ng-c2521489825=""
                formcontrolname="name" type="text" id="name"
                class="mb-2 bg-gray-50 dark:bg-secondary-300 border dark:text-white text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border-gray-300 dark:border-secondary-200 ng-untouched ng-pristine ng-invalid"><!----><!---->
        </div>
        <div _ngcontent-ng-c2521489825=""><label _ngcontent-ng-c2521489825="" for="lastname"
                class="font-bold text-lg dark:text-white">Last Name (*)</label><input _ngcontent-ng-c2521489825=""
                formcontrolname="lastname" type="text" id="lastname"
                class="mb-2 bg-gray-50 dark:bg-secondary-300 border dark:text-white text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border-gray-300 dark:border-secondary-200 ng-untouched ng-pristine ng-invalid"><!----><!---->
        </div>
    </div>
    <div _ngcontent-ng-c2521489825="" class="grid grid-cols-2 gap-4">
        <div _ngcontent-ng-c2521489825=""><label _ngcontent-ng-c2521489825="" for="organization"
                class="font-bold text-lg dark:text-white">Organization (*)</label><input _ngcontent-ng-c2521489825=""
                formcontrolname="organization" type="text" id="organization"
                class="mb-2 bg-gray-50 dark:bg-secondary-300 border dark:text-white text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border-gray-300 dark:border-secondary-200 ng-untouched ng-pristine ng-invalid"><!----><!---->
        </div>
        <div _ngcontent-ng-c2521489825=""><label _ngcontent-ng-c2521489825="" for="role"
                class="font-bold text-lg dark:text-white">Role in organization (*)</label><input
                _ngcontent-ng-c2521489825="" formcontrolname="role" type="text" id="role"
                class="mb-2 bg-gray-50 dark:bg-secondary-300 border dark:text-white text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border-gray-300 dark:border-secondary-200 ng-untouched ng-pristine ng-invalid"><!----><!---->
        </div>
    </div>
    <div _ngcontent-ng-c2521489825=""><label _ngcontent-ng-c2521489825="" for="organization"
            class="font-bold text-lg dark:text-white">Message (*)</label><textarea _ngcontent-ng-c2521489825=""
            id="editor" formcontrolname="message" rows="8" placeholder="Add product description..."
            class="block w-full min-h-fit rounded-lg px-2 text-sm text-gray-800 dark:text-gray-200 border bg-white dark:bg-secondary-300 border-gray-300 dark:border-secondary-200 ng-untouched ng-pristine ng-invalid"></textarea><!---->
    </div>
    <p _ngcontent-ng-c2521489825="" class="text-sm text-gray-500 dark:text-gray-200"><span _ngcontent-ng-c2521489825=""
            class="font-medium"><b _ngcontent-ng-c2521489825="">Information about the processing of personal data is as
                follows:</b><a _ngcontent-ng-c2521489825="" target="_blank"
                class="cursor-pointer font-medium text-primary-100 dark:text-primary-50 hover:underline whitespace-nowrap"
                href="https://dome-project.eu/about/#partners"> Data Controller DOME</a>. Purpose: to send you
            information about DOME's project by electronic means. Legal basis: data subject's consent. Recipients: The
            personal data collected will not be communicated to third parties, unless requested by public
            administrations or if required by law. Exercise of Rights: sending an email to <a
                _ngcontent-ng-c2521489825="" href="mailto:privacy.helpdesk@dome-project.eu"
                class="cursor-pointer font-medium text-primary-100 dark:text-primary-50 hover:underline whitespace-nowrap">privacy.helpdesk@dome-project.eu</a>,
            indicating in the subject line: 'Exercise of rights'. You are also entitled to be assisted by a Data
            Protection Authority. Find more information about personal data processing in <a
                _ngcontent-ng-c2521489825="" target="_blank"
                class="cursor-pointer font-medium text-primary-100 dark:text-primary-50 hover:underline whitespace-nowrap"
                href="https://dome-marketplace-sbx.org/assets/documents/privacy.pdf">our here</a>. </span></p><button
        _ngcontent-ng-c2521489825="" type="submit"
        class="mt-4 py-2 px-3 text-sm font-medium text-center text-white bg-primary-100 hover:bg-primary-50 rounded-lg focus:ring-4 focus:outline-none focus:ring-primary-50 opacity-50 cursor-not-allowed"
        disabled=""> Submit </button>
</form>
{{ end }}