@if (currentStep >= 1 && currentStep <= 3) {
  <div class="hidden md:block absolute bottom-16 w-[420px] pointer-events-none select-none z-[1]" style="left: max(calc(50% + 423px), calc(100% - 315px))">
    <div class="w-full watermark-logo" style="aspect-ratio: 1030/945"></div>
  </div>
}

<div class="relative z-[2] h-full">
@switch (currentStep) {
  @case (0) {
    <app-formal-landing
      (next)="goNext()">
    </app-formal-landing>
  }
  @case (1) {
    <app-legal-representative
      [formGroup]="legalRepGroup"
      (next)="goNext()"
      (back)="goBack()">
    </app-legal-representative>
  }
  @case (2) {
    <app-lear
      [formGroup]="learGroup"
      (next)="goNext()"
      (back)="goBack()">
    </app-lear>
  }
  @case (3) {
    <app-contractual-documents
      [formGroup]="contractualGroup"
      (complete)="onComplete()"
      (back)="goBack()">
    </app-contractual-documents>
  }
  @case (4) {
    <app-formal-thank-you></app-formal-thank-you>
  }
}
</div>
